* {
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.flex {
    display: flex;
    margin-top: 3rem;
}

.header {
    padding: 30px 0px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    display: flex;
    align-items: center;
    position: relative;
}

.navigation {
    list-style: none;
    gap: 20px;
    display: flex;
    padding: 0px 40px;
    flex: 1;
}

.navigation a {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.5);
    font-weight: 400;
}

.navigation a:hover {
    color: hsl(26, 100%, 55%);
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 50px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;

}

.avatar:hover {
    border: 2px solid hsl(26, 100%, 55%);
}

.cart {
    color: hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}

.details {
    padding: 60px 50px;
    display: flex;
    gap: 100px;
}

.product-images {
    width: 50%;
}

.product-selection {
    width: 50%;
    align-self: center;
}

.product-company {
    color: hsl(26, 100%, 55%);
    font-weight: bold;
    text-transform: uppercase;
}

.product-title {
    margin-top: 0px;

    font-weight: bold;
    font-size: 48px;
}

.product-description {
    color: hsla(0, 0%, 0%, 0.3);
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.product-flex-container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 10px;
}

.product-price-container {
    display: flex;
    flex-direction: column;
}

.product-price {
    font-weight: bold;
    font-size: 28px;
}

.product-price-old {
    font-weight: bold;
    text-decoration: line-through;
    color: hsla(0, 0%, 0%, 0.35);
}

.product-discount-percentage {
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    padding: 2px 8px;
    border-radius: 8px;
    font-weight: bold;
}

.product-button {
    background-color: hsl(26, 100%, 55%);
    color: white;
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    gap: 16px;
    font-size: 16px;
    cursor: pointer;
}

.product-button img {
    width: 24px;
    height: 24px;
    fill: white;
}

.product-quantity-container {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 1rem;
    background-color: hsl(223, 64%, 98%);
    border-radius: 10px;
    gap: 30px;
}


.quantity-button {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.quantity {
    padding: 0px 20px;
    font-weight: bold;
}


.current-image {
    border-radius: 20px;
    overflow: hidden;
    height: 480px;
    position: relative;
}

.image-button {
    width: 48px;
    height: 48px;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    padding: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.image-button img {
    width: 16px;
    height: 16px;
}


.image-button:nth-of-type(2) {
    right: 20px;
}

.image-button:nth-of-type(1) {
    left: 20px;
}

.current-image img {
    height: 100%;
}

.thumbnails {
    display: flex;
    gap: 30px;
    margin-top: 2rem;
}

.thumbnail {
    overflow: hidden;
    border-radius: 15px;
    border: 3px solid white;
    position: relative;
    cursor: pointer;
}

.thumbnail img {
    height: 100%;
}


.thumbnail:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(223, 64%, 98%, 0.5);
}

[data-selected]::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(223, 64%, 98%, 0.5);
}

[data-selected] {
    border: 3px solid hsl(26, 100%, 55%);
}

.product-quantity-main-container {
    display: flex;
}

.menu-button:hover {
    color: hsl(26, 100%, 55%);
    cursor: pointer;
}

.cart {
    position: relative;
}

.cart:hover {
    color: hsl(26, 100%, 55%);

}

.cart-quantity {
    position: absolute;
    right: -10px;
    bottom: 75%;
    background: hsl(26, 100%, 55%);
    color: white;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    border-radius: 50%;
}

.mobile-menu-container {
    display: none;
}

.menu-button {
    display: none;
}

.product-quantity-main-container {
    margin-top: 2rem;
}

.cart-menu {
    top: 85%;
    right: 0;
    position: absolute;
    max-width: 400px;
    width: 100%;
    display: none;
    padding: 12px;
    z-index: 20;

}

.cart-menu-container {
    box-shadow: 0px 10px 20px 2px hsla(0, 0%, 0%, 0.1);
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.cart-show {
    display: block;
}

.cart-header {
    padding: 10px 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

.cart-content {
    padding: 20px 20px;
    padding-bottom: 30px;
}

.cart-button {
    background-color: hsl(26, 100%, 55%);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.cart-items {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.cart-items-container {
    display: none;
    flex-direction: column;
}

.cart-content[data-has-items] .cart-items-container {
    display: flex;
}


.cart-content[data-has-items] .cart-empty {
    display: none;
}

.cart-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-item-image {
    border-radius: 5px;
    overflow: hidden;
    width: 50px;
}


.cart-item-image img {
    width: 100%;
    height: 100%;
}

.cart-item-action svg:hover {
    color: hsl(26, 100%, 55%);
    cursor: pointer;
}

.cart-item-action svg {
    color: #C3CAD9
}


.cart-item-info {
    flex: 1;
    display: flex;
    flex-flow: column;
    color: hsla(0, 0%, 0%, 0.5);
}

.cart-item-info span:first-of-type {
    margin-bottom: 0.4rem;
}

.cart-item-info span b {
    color: black;
    margin-left: 0.4rem;
}

.cart-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: hsla(0, 0%, 0%, 0.4);
    font-weight: bold;
}


@media (max-width: 500px) {

    .menu-button {
        display: block;
    }

    .details {
        flex-direction: column;
        padding: 0;
        gap: 10px;
    }

    .product-images {
        width: 100%;
    }

    .thumbnails {
        display: none;
    }

    .product-selection {
        width: 100%;
        padding: 0px 20px;
    }

    .product-company {
        font-size: 14px;
    }

    .product-title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .current-image {
        border-radius: 0;
        height: 300px;
    }

    .image-button {
        display: flex;
    }

    body {
        padding: 0;
        margin: 0;
    }


    .product-price-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


    .product-quantity-main-container {
        flex-direction: column;
        padding-bottom: 2rem;
        margin-top: 0rem;
    }

    .product-quantity-container {
        justify-content: space-between;
        margin: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .navigation {
        display: none;
    }

    .header {
        padding: 16px 16px;
    }

    .header-actions {
        gap: 10px;
        flex: 1;
        justify-content: flex-end;
    }

    .avatar {
        height: 32px;
        width: 32px;
    }

    .menu-button {
        margin-right: 1rem;
    }

    .product-flex-container {
        margin: 0;
    }


    .mobile-menu-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: none;
    }

    .mobile-menu-container[data-open] {
        display: block !important;
    }

    .mobile-menu-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: hsla(0, 0%, 0%, 0.3);
    }

    .mobile-menu {
        position: relative;
        z-index: 2;
        background-color: white;
        max-width: 250px;
        width: 100%;
        height: 100%;
        padding: 1rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    .mobile-menu img {
        width: 16px;
        height: 16px;
    }

    .mobile-menu li:first-child {
        margin-bottom: 2rem;
    }

    .mobile-menu li a {
        text-decoration: none;
        font-weight: bold;
    }
}